
body {   
    height: 10em;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #1A4A1C;
    color: rgb(238, 241, 238);       
}

h1 {
    text-align: center;    
    color: rgb(0, 0, 0);
    text-decoration-line: overline;
}

#playingField {
    width: 36em;
    padding: 2px;
    margin: 2px;
}

#dealer, #player{
    border-radius: 1em;    
    width: 31em;
    border: 5px solid rgb(10, 100, 56);
    padding: 1em;
    margin: 1em;
}

.result, .welcome{
    text-align: center;
}

.card-image {
    width: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    
}
